.splide__slide {
 


 
 width: 520px !important;
 height:650px !important;
}
.splide__list {
 gap: 1rem;
}
@media (max-width: 480px) {

 .splide__slide {
  
  width: 304px !important;
  height:380px !important;
  
 }
}
